@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,regular&display=swap);
/*null style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1388px;
  padding: 0 52px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
  z-index: 999;
}
@media (max-width: 768.98px) {
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  /* Від 1200px і менше */
  /* Від 900px і менше */
  /* Від 768.98px і менше */
  /* Від 400px і менше */
  /* Від 320px і менше */
}
@media (max-width: 1200px) {
  .header__container {
    /* Ваші стилі для ширини екрану від 1200px до 901px */
  }
}
@media (max-width: 900px) {
  .header__container {
    /* Ваші стилі для ширини екрану від 900px до 601px */
    max-width: 870px;
    padding: 0 15px;
  }
}
@media (max-width: 768.98px) {
  .header__container {
    /* Ваші стилі для ширини екрану від 768.98px до 400px */
    max-width: 740px;
    padding: 0 10px;
  }
}
@media (max-width: 450px) {
  .header__container {
    /* Ваші стилі для ширини екрану від 400px до 321px */
    grid-template-columns: auto auto;
    row-gap: 10px;
    padding: 0 8px;
  }
}
@media (max-width: 320px) {
  .header__container {
    /* Ваші стилі для ширини екрану від 320px і менше */
    padding: 0 5px;
  }
}
@media (max-width: 768.98px) {
  .header__menu {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: self-end;
  }
}
@media (max-width: 450px) {
  .header__menu {
    /* Ваші стилі для ширини екрану від 400px до 321px */
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
.header__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 2;
}
@media (max-width: 768.98px) {
  .header__logo {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: self-start;
    align-self: center;
  }
}
@media (max-width: 450px) {
  .header__logo {
    /* Ваші стилі для ширини екрану від 400px до 321px */
    grid-row-start: 1;
    grid-column-start: span 2;
    grid-column-end: 3;
    justify-self: center;
  }
}
@media (min-width: 768.98px) {
  .header__actions {
    justify-self: end;
  }
}
@media (max-width: 768.98px) {
  .header__actions {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media (max-width: 450px) {
  .header__actions {
    /* Ваші стилі для ширини екрану від 400px до 321px */
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
  }
}

.menu {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 2;
}
.menu::before, .menu::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  z-index: 0;
}
.menu__icon {
  /* Від 768.98px і менше */
}
@media (max-width: 768.98px) {
  .menu__icon {
    display: block;
    z-index: 1;
    transition: all 0.3s ease 0s;
  }
}
.menu._active .menu__icon span {
  height: 2px;
  width: 80%;
}
.menu._active .menu__icon span::before, .menu._active .menu__icon span::after {
  transition: all 0.3s ease 0s;
  width: 45%;
}
.menu._active .menu__icon span::before {
  left: 10%;
}
.menu._active .menu__icon span::after {
  left: 45%;
}
.menu__body {
  width: 100%;
  z-index: 1;
}
@media (max-width: 768.98px) {
  .menu__body {
    z-index: 0;
    /* Ваші стилі для ширини екрану від 768.98px до 400px */
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 768.98px) {
  .menu._active .menu__body {
    /* Ваші стилі для ширини екрану від 768.98px до 400px */
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #ed165f;
    overflow: scroll;
    transition: all 0.3s ease 0s;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 15px; /* 60/16 */
  justify-content: flex-start;
  /* Від 768.98px і менше */
}
@media (max-width: 768.98px) {
  .menu__list {
    /* Ваші стилі для ширини екрану від 768.98px до 400px */
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    row-gap: 40px;
  }
}
@media (max-width: 768.98px) {
  .menu__item {
    font-size: 2em;
  }
}
.menu__link {
  display: inline-block;
  color: #000;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1rem; /* 18px/16 */
  letter-spacing: 0.2px;
  position: relative;
}
.menu__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -13px;
  left: 0;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}
.menu__link:active {
  color: #ed165f;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ed165f;
    font-weight: 700;
    transition: all 0.3s ease 0s;
  }
  .menu__link:hover::before {
    display: block;
    position: absolute;
    background-color: #ed165f;
    width: 100%;
    transition: all 0.3s ease 0s;
    transition: width 0.5s ease-in-out;
  }
}
@media (max-width: 768.98px) {
  .menu__link {
    font-size: inherit;
  }
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ed165f;
  border-radius: 4px;
  width: 45px;
  height: 45px;
}
@media (min-width: 768.98px) {
  .icon-menu {
    display: none;
  }
}
.icon-menu span {
  display: block;
  position: relative;
  background-color: #ed165f;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}
.icon-menu span::before, .icon-menu span::after {
  transition: left 0.3s ease 0s;
  content: "";
  display: block;
  background-color: #ed165f;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  left: 0;
}
.icon-menu span::before {
  top: -9px;
}
.icon-menu span::after {
  bottom: -9px;
}
@media (max-width: 450px) {
  .icon-menu {
    height: 30px;
    width: 30px;
  }
}

.actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  z-index: 2;
}
.actions__search {
  display: flex;
  flex-wrap: nowrap;
}
.actions__icon {
  transition: all 0.3s ease 0s;
}
.actions__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.actions__item {
  cursor: pointer;
}
.actions__item:active {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
.actions__item:active .actions__icon > path {
  fill: #ed165f;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .actions__item:hover .actions__icon {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
  }
  .actions__item:hover .actions__icon > path {
    fill: #ed165f;
    transition: all 0.3s ease 0s;
  }
}
.search__input-line {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s ease 0s;
}
.search__input-line::before {
  content: " ";
  display: block;
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}
.search__input-line::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: background-color 0.7s ease-in-out;
}
.search__input-line:focus-within::before {
  width: 100%;
  background-color: #ed165f;
  transition: all 0.3s ease 0s;
  transition: width 0.5s ease-in-out;
}
.search__input-line:focus-within::after {
  width: 100%;
  background-color: transparent;
  transition: background-color 0s ease 0s;
}
@media (max-width: 768.98px) {
  .search__input-line {
    width: 80%;
  }
}
.search__input {
  background-color: transparent;
  padding: 2px 0;
}
.search__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4666666667);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  background-color: transparent;
}
.search__input::placeholder {
  color: rgba(0, 0, 0, 0.4666666667);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  background-color: transparent;
}
@media (max-width: 768.98px) {
  .search__input {
    width: 80%;
  }
}
.search__button {
  padding-left: 5px;
  background-color: transparent;
}
@media (any-hover: hover) {
  .search__button:hover .actions__icon {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
  }
  .search__button:hover .actions__icon > path {
    fill: #ed165f;
    transition: all 0.3s ease 0s;
  }
}

.fullscreen {
  padding-top: 80px;
  min-height: 100vh;
  background-color: #ed165f;
  text-align: center;
}
.fullscreen__container {
  position: relative;
}
.fullscreen__background-image {
  position: absolute;
  top: 0px;
  margin: 0 auto;
  width: calc(100% - 104px);
  padding-bottom: 43.819444%; /* 631/1440 */
  z-index: 0;
}
.fullscreen__background-image-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.fullscreen__slider {
  position: relative;
  z-index: 1;
}
.fullscreen__slide {
  text-align: center;
}
.fullscreen__link {
  position: relative;
  z-index: 1;
}

.swiper-slide__image-cnt {
  margin: 0 auto;
  width: 46.25%; /* 666/1440 */
  position: relative;
  padding-bottom: 62.986111%; /* 907/1440 */
}
.swiper-slide__image-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -16px;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotateY(180deg);
}