// Import
//  Fonts
@import "fonts";
//  Nullstyle
@import "nullstyle";
// palette
@import "palette";
//========================================================================================================================================================
// General
body {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1388px;
    padding: 0 52px;
    margin: 0 auto;
}

//========================================================================================================================================================

// Header
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
    z-index: 999;
    @media (max-width: 768.98px) {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    // .header__container

    &__container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        column-gap: 40px; // for safety
        /* Від 1200px і менше */
        @media (max-width: 1200px) {
            /* Ваші стилі для ширини екрану від 1200px до 901px */
        }

        /* Від 900px і менше */
        @media (max-width: 900px) {
            /* Ваші стилі для ширини екрану від 900px до 601px */
            max-width: 870px;
            padding: 0 15px;
        }

        /* Від 768.98px і менше */
        @media (max-width: 768.98px) {
            /* Ваші стилі для ширини екрану від 768.98px до 400px */
            max-width: 740px;
            padding: 0 10px;
        }

        /* Від 400px і менше */
        @media (max-width: 450px) {
            /* Ваші стилі для ширини екрану від 400px до 321px */
            grid-template-columns: auto auto;
            row-gap: 10px;
            padding: 0 8px;
        }

        /* Від 320px і менше */
        @media (max-width: 320px) {
            /* Ваші стилі для ширини екрану від 320px і менше */
            padding: 0 5px;
        }
    }

    // .header__menu

    &__menu {
        @media (max-width: 768.98px) {
            grid-row-start: 1;
            grid-column-start: 3;
            grid-column-end: 4;
            justify-self: self-end;
        }
        @media (max-width: 450px) {
            /* Ваші стилі для ширини екрану від 400px до 321px */
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    // .header__logo

    &__logo {
        user-select: none;
        z-index: 2;
        @media (max-width: 768.98px) {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-column-end: 2;
            justify-self: self-start;
            align-self: center;
        }
        @media (max-width: 450px) {
            /* Ваші стилі для ширини екрану від 400px до 321px */
            grid-row-start: 1;
            grid-column-start: span 2;
            grid-column-end: 3;
            justify-self: center;
            // align-self: center;
        }
    }

    // .header__actions

    &__actions {
        @media (min-width: 768.98px) {
            justify-self: end;
        }
        @media (max-width: 768.98px) {
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        @media (max-width: 450px) {
            /* Ваші стилі для ширини екрану від 400px до 321px */
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            align-self: center;
            justify-self: center;
        }
    }
}
.menu {
    display: flex;
    align-items: center;
    user-select: none;
    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f5f5f5;
        z-index: 0;
    }
    z-index: 2;
    // .menu__icon

    &__icon {
        /* Від 768.98px і менше */
        @media (max-width: 768.98px) {
            display: block;
            z-index: 1;
            transition: all 0.3s ease 0s;
        }
    }
    &._active &__icon {
        span {
            height: 2px;
            width: 80%;
            &::before,
            &::after {
                transition: all 0.3s ease 0s;
                width: 45%;
            }
            &::before {
                left: 10%;
            }
            &::after {
                left: 45%;
            }
        }
    }
    // .menu__body

    &__body {
        width: 100%;
        z-index: 1;
        @media (max-width: 768.98px) {
            z-index: 0;
            /* Ваші стилі для ширини екрану від 768.98px до 400px */
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: -100%;
            transition: all 0.3s ease 0s;
        }
    }
    // коли у батьківського елемента доданий клас _active
    &._active &__body {
        @media (max-width: 768.98px) {
            /* Ваші стилі для ширини екрану від 768.98px до 400px */
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: $aColor;
            overflow: scroll;
            transition: all 0.3s ease 0s;
        }
    }
    // .menu__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 15px; /* 60/16 */
        justify-content: flex-start;
        /* Від 768.98px і менше */
        @media (max-width: 768.98px) {
            /* Ваші стилі для ширини екрану від 768.98px до 400px */
            flex-direction: column;
            align-items: center;
            padding-top: 120px;
            row-gap: 40px;
        }
    }

    // .menu__item

    &__item {
        @media (max-width: 768.98px) {
            font-size: 2em;
        }
    }

    // .menu__link

    &__link {
        display: inline-block;
        color: $mainColor;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1rem; /* 18px/16 */
        letter-spacing: 0.2px;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 0%;
            height: 1px;
            bottom: -13px;
            left: 0;
            background-color: transparent;
            transition: all 0.3s ease 0s;
        }
        &:active {
            color: $aColor;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $aColor;
                font-weight: 700;
                transition: all 0.3s ease 0s;
                //padding: 0 9.5px; // костиль щоб меню не рухалося від зміни начертання шрифта
                &::before {
                    display: block;
                    position: absolute;
                    background-color: $aColor;
                    width: 100%;
                    transition: all 0.3s ease 0s;
                    transition: width 0.5s ease-in-out;
                }
            }
        }
        @media (max-width: 768.98px) {
            font-size: inherit;
        }
    }
}

.icon-menu {
    @media (min-width: 768.98px) {
        display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid $aColor;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    span {
        display: block;
        position: relative;
        background-color: $aColor;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        &::before,
        &::after {
            transition: left 0.3s ease 0s;
            content: "";
            display: block;
            background-color: $aColor;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            left: 0;
        }
        &::before {
            top: -9px;
        }
        &::after {
            bottom: -9px;
        }
    }
    @media (max-width: 450px) {
        height: 30px;
        width: 30px;
    }
}
.actions {
    display: flex;
    align-items: center;
    column-gap: 40px;
    z-index: 2;

    // .actions__search

    &__search {
        display: flex;
        flex-wrap: nowrap;
    }

    // .actions__icon
    &__icon {
        transition: all 0.3s ease 0s;
    }
    // .actions__list

    &__list {
        display: flex;
        column-gap: 30px;
    }

    // .actions__item

    &__item {
        cursor: pointer;
        &:active {
            transform: scale(1.1);
            transition: all 0.3s ease 0s;
            .actions__icon > path {
                fill: $aColor;
                transition: all 0.3s ease 0s;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                .actions__icon {
                    transform: scale(1.1);
                    transition: all 0.3s ease 0s;
                }
                .actions__icon > path {
                    fill: $aColor;
                    transition: all 0.3s ease 0s;
                }
            }
        }
    }

    // .actions__user-profile

    &__user-profile {
    }

    // .actions__cart

    &__cart {
    }

    // .actions__favorite

    &__favorite {
    }
}

.search {
    // .search__input-line
    &__input-line {
        width: 100%;
        height: 100%;
        position: relative;
        transition: all 0.3s ease 0s;
        &::before {
            content: " ";
            display: block;
            width: 0%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: transparent;
            transition: all 0.3s ease 0s;
        }
        &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $mainColor;
            transition: background-color 0.7s ease-in-out;
        }

        //!цікава фіча :focus-within - це псевдоклас CSS, який застосовується до батьківського елемента,
        // коли один з його дочірніх елементів отримує фокус.
        // Це дозволяє змінювати стилі батьківського елемента, коли в одному
        // з його дочірніх елементів з'являється фокус.
        // Синтаксис: :focus-within
        // focus-within можна використовувати з будь-яким селектором елемента.
        //  Коли хоча б один з дочірніх елементів отримує фокус, стилі,
        //  визначені для селектора з псевдокласом :focus-within, будуть
        //  застосовуватися до його батьківського елемента.
        &:focus-within {
            &::before {
                width: 100%;
                background-color: $aColor;
                transition: all 0.3s ease 0s;
                transition: width 0.5s ease-in-out;
            }
            &::after {
                width: 100%;
                background-color: transparent;
                transition: background-color 0s ease 0s;
            }
        }
        @media (max-width: 768.98px) {
            width: 80%;
        }
    }
    // .search__input
    &__input {
        background-color: transparent;
        padding: 2px 0;

        &::placeholder {
            color: #00000077;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.2px;
            background-color: transparent;
        }
        @media (max-width: 768.98px) {
            width: 80%;
        }
    }

    &__button {
        padding-left: 5px;
        background-color: transparent;
        @media (any-hover: hover) {
            &:hover {
                .actions__icon {
                    transform: scale(1.1);
                    transition: all 0.3s ease 0s;
                }
                & .actions__icon > path {
                    fill: $aColor;
                    transition: all 0.3s ease 0s;
                }
            }
        }
    }
}
// End Header
// Fullscreen
.fullscreen {
    padding-top: 80px;
    min-height: 100vh;
    background-color: $aColor;
    text-align: center;
    // .fullscreen__conatiner

    &__container {
        position: relative;
    }

    // .fullscreen__background-image

    &__background-image {
        position: absolute;
        top: 0px;
        margin: 0 auto;
        width: calc(100% - 104px);
        padding-bottom: 43.819444%; /* 631/1440 */
        z-index: 0;
    }

    // .fullscreen__background-image-item

    &__background-image-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
    }

    // .fullscreen__slider

    &__slider {
        position: relative;
        z-index: 1;
    }

    // .fullscreen__wrapper

    &__wrapper {
    }

    // .fullscreen__slide

    &__slide {
        text-align: center;
    }

    // .fullscreen__link

    &__link {
        position: relative;
        z-index: 1;
    }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
    &__image-cnt {
        margin: 0 auto;
        // max-width: 666px;
        width: 46.25%; /* 666/1440 */
        position: relative;
        padding-bottom: 62.986111%; /* 907/1440 */
    }
    &__image-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -16px;
        left: 0;
        object-fit: contain;

        transform: rotateY(180deg);
    }
}
.swiper-pagination {
}

// EndFullscreen
//========================================================================================================================================================
// Footer
.footer {
}
// End Footer
